*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    height: 7vh;
}
.left{
    height: 92vh;
    border: 2px black solid;
    width: 15%;
    text-align: center;
}
.mid{
    height: 92vh;
    border: 2px black solid;
    width: 70%;
}
.right{
    height: 92vh;
    border: 2px black solid;
    width: 15%;
}
.main{
    display: flex;
}
.but1{
    margin-top: 10%;
    float: right;
    margin-right: 5%;
    cursor: pointer;
}
input{
    margin-left: 1%;
    width: 80%;
}
.nie{
    margin-top: 30%;
}
.srodek{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border: 2px black solid;
    height: 70vh;
}
.but2{
    height: 50px;
    width: 200px;
    cursor: pointer;
}
.tak{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.75%;
}
.nire{
    margin-top: 5%;
    justify-content: space-around;
    display: flex;
}
.niet{
    margin-left: 10%;
    width: 80%;
}
h2{
    text-align: center;
}
